<div class="module" ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <h1 class="page-title">All collections</h1>
        </div>
        <div class="col-sm-4 text-right">
            <div class="user-top-bar">
                <span class="a"><i class="glyphicon glyphicon-plus"></i> Add collection</span>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="cardCollection in vm.cardCollections">
        <div class="col-sm-3">
            <div class="thumbnail">
                <a ng-href="#/collection/{{cardCollection.id}}">
                    <img class="img-responsive" ng-src="{{ vm.host }}/images/{{ cardCollection.logo }}" alt="{{ cardCollection.title }}">
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="caption">
                <h3> <a ng-href="#/collection/{{cardCollection.id}}">{{ cardCollection.title }}</a></h3>
                <p>{{ cardCollection.description }}</p>
                <div class="dropdown">
                    <span data-toggle="dropdown" class="glyphicon glyphicon-cog a"></span>
                    <ul class="dropdown-menu">
                        <li><a href=""><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                        <li><a href="" ng-click="vm.deleteCollection(cardCollection.id)" ><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>